
body {
  font-size: 16px;
  font-family: 'Coming Soon', cursive;
}
video {
  display: inline-block;
  vertical-align: baseline;
}

/** HEADER **/
#header-nav {
  position: relative;
  height:100px;
  top: 0;
  right: 0;
  left:0;
  z-index: 9999;
  display: block;
  background-color: #a9a9a9;
  opacity: 0.5;
  border-radius: 0;
  border: 0;
}
.container{
  position: relative;
  top: 0;
  left: 0;
  width: 80%;
  height:auto;
  min-height:100%;
  z-index: 1;
  margin-left: 10%;
}
.navbar-header {
position: absolute;
left: 0;
top: 0;
width: 100%;
height:100%;
z-index: 1;
}
.navbar-brand {

  padding-top: 25px;
  margin-bottom: 50px;
  background-color: #a9a9a9;
}

.navbar-brand h1 { /* Website name */
  font-family: 'Nothing You Could Do', cursive;
  color: #f8f8ff;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}


.navbar-brand p { /* Enjoy the moment! */
  color: #f8f8ff;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
#nav-list {
  margin-top: 0px;
  background-color: #a9a9a9;
}
#nav-list a {
  color: #f8f8ff;
  text-align: center;
}
#nav-list a:hover {
  color: #87ceeb;
  opacity: 0.5;
}
#nav-list a span {
  font-size: 1em;
}



.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #fff;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/* FOOTER */
.panel-footer {
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #fff;
  border-top: 1px solid #000;

}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address, #testimonials{
  line-height: 2;
  color: #000;
  font-size: .8em;
  line-height: 1.8;
}
#hours > span, #address > span {
  font-size: 1.3em;
}

#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
.text-center {
  color: #000
}
/* END FOOTER */



/* HOME PAGE */


.main {
  overflow: hidden;
  width: 100%;
  position: relative;
  z-index: 1;
  top: -200px;
  margin-bottom: -200px;
  height:2000px;

}
/* full screen video*/
.section {
  position: relative;
  z-index: 1;
  width: 100%;
}

.section-fullscreen{
background-color: #f8f8ff;
color: #ccc;
min-height: 800px;
}

.page-content .video-fade{
  position: fixed;
}
.page-content .section-fullscreen .section-background{
z-index: -1;

}
.page-content .section-fullscreen .section-dance{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: none;
}
.page-content .section-fullscreen .section-dance video{
  width: 100%;
  min-height: 800px;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  max-width: none;
  object-fit: cover;
  transform: translateX(0) translateY(0);
}

}
.page-content .section-fullscreen .large-fixed{
  position: fixed;
}
.section-dance {
  max-width: 1860px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.section-fullscreen-overview .section-dance .video-fade, .section-fullscreen-overview .section-headline .section-image{
  background-size: cover;
  background-position:center center;
}
.page-content .video-fade{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 1068px), only screen and (max-width: 1068px) and (min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 144) and (max-width: 1068px), only screen and (max-width: 1068px) and (min-resolution: 144dppx){
.section-fullscreen-overview .section-dance .video-fade {
  background-image: url(../images/background .png);
}
}
.stopfade {
   opacity: .5;
}
.page-content .section-fullscreen-overview .section-foreground{
  opacity: 1;
}
.section-fullscreen .section-headline{
  min-height: 600px;
  height: 100vh;
  position: relative;
  z-index: 2;
}
.video .page-content .section-headline .section-image{
  background-image: none;
}
.section-fullscreen .section-headline .section-image{
  position: absolute;
  z-index: -1;
  min-height: 600px;
  height: 100vh;
  width: 100%;
}
.section-fullscreen .section-headline .section-content{
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  top: 50%;
  left:50%;
  transform: translateY(-50%);
}
h1 {
  font-size: 3rem;
  margin-top: 0;
  letter-spacing: .3rem;
}


a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  transition: .6s background;
}

.section-fullscreen .glyphicon-menu-down {
  position: absolute;
  left: 50%;
  margin: 0 auto;
  z-index: 50;
  text-align: center;
  bottom: 40px;
  width: 100px;
  height: 100px;
  top:95%;
  border: none;
  background-color: transparent;
  font-size:xx-large;
  color:#fff;
}


/*music section*/
.music-recommendation {
  height: 1200px;
  width: 100%;
  float: left;
  clear:both;
  position: relative;
  border: 0px;

}


.music-background{
  position: relative;
  height: 100%;
  top: 0;
  background-color: #a5a0a0;
}
.music-play{
  height: 12.5%;
  top: 10%;
}
.music-img{
  height:40%;
  top:10%;
 }
#myCarousel{
  border: 0;
  display: block;
  margin: auto;
  height: 350px;
  width: 400px;
  position: relative;
  max-width: 450px;
  min-width: 300px;
}
.carousel-indicators {
    position: absolute;
    bottom: 10px;
    width: 100%;
    z-index: 15;
    padding-left: 0;
    text-align: center;
    list-style: none;
    left: 0;
    margin-left: 0;
}
div.song-lyric{
  border: 0;
  display: block;
  margin: auto;
  height: 350px;
  width: 400px;
  position: relative;
  max-width: 450px;
  min-width: 300px;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    border: 0;
    display: block;
    margin: auto;
    height: 350px;
    width: 400px;
    position: relative;
    max-width: 450px;
    min-width: 300px;
  }

.music-comment{
  position: relative;
  float: left;
  height: 40%;
}
div.sentence{
    padding-top: 200px;
    border: 0;
    display: block;
    margin: auto;
    width: 400px;
    height: 350px;
    position: relative;
}
span.comment-sentence {

    display: block;
    margin: auto;
    font-family: 'San Francisco', 'PingFang SC', Arial, Sans;
}
.btn-default{
  background-color: transparent;
  display: block;
  margin: auto;
  position: relative;

}
.audio-player,
.audio-player div,
.audio-player h1,
.audio-player a,
.audio-player img,
.audio-player span,
.audio-player button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

div.audio-player {
    position: relative;
    display: block;
    margin: auto;
    width: 400px;
    height: 70px;
    max-width: 450px;
    min-width: 300px;

    background: #4c4e5a;
    background: -webkit-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
    background: -moz-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
    background: -o-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
    background: -ms-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
    background: linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.audio-player h1 {
    position: absolute;
    top: 20%;
    padding-left: 5px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #ececec;
    text-shadow: 1px 1px 1px rgba(0,0,0, .5);
}

.audio-player .cover {
    position: absolute;
    top: 0;
    left: 0;
}
#audio-player{
    width: 100%;
    height: 100%;
    position: relative;
}
/*control buttom*/
/*.mejs-controls .mejs-button button {
    cursor: pointer;
    display: block;
    position: absolute;
    text-indent: -9999px;
}

.mejs-controls .mejs-play button,
.mejs-controls .mejs-pause button {
    width: 21px;
    height: 21px;
    top: 35px;
    left: 135px;
    background: transparent url(../img/play-pause.png) 0 0;
}

.mejs-controls .mejs-pause button { background-position:0 -21px; }

.mejs-controls .mejs-mute button,
.mejs-controls .mejs-unmute button {
    width: 14px;
    height: 12px;
    top: 70px;
    left: 140px;
    background: transparent url(../img/mute-unmute.png) 0 0;
}

.mejs-controls .mejs-unmute button { background-position: 0 -12px; }

/*volumn side bar
.mejs-controls div.mejs-horizontal-volume-slider {
    position: absolute;
    top: 71px;
    left: 165px;
    cursor: pointer;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
    width: 200px;
    height: 8px;
    background: #212227;

    -webkit-box-shadow: inset 0px 1px 0px rgba(0,0,0, .3), 0px 1px 0px rgba(255,255,255, .25);
    -moz-box-shadow: inset 0px 1px 0px rgba(0,0,0, .3), 0px 1px 0px rgba(255,255,255, .25);
    box-shadow: inset 0px 1px 0px rgba(0,0,0, .3), 0px 1px 0px rgba(255,255,255, .25);

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    position: absolute;
    width: 0;
    height: 6px;
    top: 1px;
    left: 1px;
    background: url(../img/volume-bar.png) repeat-x;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

/*progress bar*/
/*.mejs-controls div.mejs-time-rail { width: 400px; }

.mejs-controls .mejs-time-rail span {
    position: absolute;
    display: block;
    width: 400px;
    height: 5px;
    left: 0;
    bottom: 0;
    cursor: pointer;

    -webkit-border-radius: 0px 0px 2px 2px;
    -moz-border-radius: 0px 0px 2px 2px;
    border-radius: 0px 0px 2px 2px;
}

.mejs-controls .mejs-time-rail .mejs-time-total { background: #999999; }

.mejs-controls .mejs-time-rail .mejs-time-loaded {
    width: 0;
    background: #cccccc;
}

.mejs-controls .mejs-time-rail .mejs-time-current {
    width: 0;
    background: #64b44c;
}
/*progress & volume handle*/
/*.mejs-controls .mejs-time-rail .mejs-time-handle,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle {
    position: absolute;
    display: block;
    width: 12px;
    height: 14px;
    top: -4px;
    background: url(../img/handle.png) no-repeat;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle { top: -2px; }
/*time tooltip*/
/*.mejs-controls .mejs-time-rail .mejs-time-float {
    position: absolute;
    display: none;
    width: 33px;
    height: 23px;
    top: -26px;
    margin-left: -17px;
    background: url(../img/time-box.png);
}

.mejs-controls .mejs-time-rail .mejs-time-float-current {
    width: 33px;
    display: block;
    left: 0;
    top: 4px;

    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #666666;
    text-align: center;
}*/

/* END HOME PAGE */

/********** Large devices only **********/
@media (min-width: 1200px) {
.main{
  height: 1500px;
}
.music-recommendation{
  height: 700px;
}
#myCarousel {
  float:right;
}
div.audio-player{
  float: right;
}

.music-comment{
  float: left;
  top: 10%
}

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
.main{
  height: 1500px;
}
.music-recommendation{
  height: 700px;
}
  #myCarousel {
  float:right;
}
div.audio-player{
  float: right;
}

.music-comment{
  float: left;
  top: 10%
}

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */

  /* End Home Page */
}

/********** Extra small devices only **********/
@media (min-width: 580px) and (max-width: 767px) {
  /* Header */
.nacbar-header {
  position: relative;
  top: 0;
  right: 0;
  left:0;
  z-index: 9998;
  display: block;
  background-color: #a9a9a9;
  opacity: 0.5;
  border-radius: 0;
  border: 0;

}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  border: none;
}

.navbar-toggle{
    border: none;
    margin-bottom: 25px;
}
  .navbar-brand #navbar-toggle {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: -10px;
    padding: -10px;
    border: 0px;
    color: #000;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */

  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
  /* End Footer */

  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }
  #home-title{
    width: 360px;
    margin: 0 auto 15px;
  }

  .menu-item-photo {
    margin-right: auto;
  }
  .menu-item-tile .menu-item-price {
    text-align: center;
  }
  .menu-item-description {
    text-align: center;;
  }
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */

  /* Home page */
  #home-title {
    width: 280px;
    margin: 0 auto 15px;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}



